.topbanner{
   background-color: green;
   color :white;
 }
.button1{
   width:250px;
   height:40px;
 }

.button1:hover{
   background-color: green;
   color :white;
}
.side-bar{
   float:right; 
   background-color: lightblue;
   width:30%;
   height:50%;
}
.page{
   float: center;
   width:30%;
   height:100px;
}